<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head></head>
<body>
	<nav class="aw-menu  js-menu " layout:fragment="menu">
		<div class="user">
			<img alt="user"
				class="user-img img-circle img-thumbnail pull-left sombra"
				th:src="@{/layout/imagens/user.png}" />
			<div class="user-details panel-primary sombra">
				<p class="user-text" th:text="'User: ' + ${#authentication.principal.usuario.nome}"></p>
				<p class="user-text" th:text="'Empresa: ' + ${#authentication.principal.usuario.empresa.nome} + 
											' (' + ${#authentication.principal.usuario.setor.descricao} +')'"></p>
			</div>
		</div>

		<div class="panel panel-primary menu-details sombra">
			<div class="panel-heading sombra">
				<h3 class="panel-title text-center">
					<strong>Menu</strong>
				</h3>
			</div>
			<div class="panel-body">
				<div class="dropdown componenteform">
					<button class="btn btn-info btn-block dropdown-toggle fa  fa-shield" type="button"
						id="root" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false" sec:authorize="hasRole('MASTERROOT')">
						ROOT<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="root">
						<li class="aw-menu__item" sec:authorize="hasRole('MASTERROOT')">
							<a th:href="@{/administrador/usuarios}" class="item-menu">
								<i class="fa fa-user-circle"></i> <span>Usuários</span>
						</a>
						</li>
						<li class="aw-menu__item" sec:authorize="hasRole('MASTERROOT')">
							<a th:href="@{/masterroot/empresas}" class="item-menu">
								<i class="fa fa-building"></i> <span>Empresas</span>
						</a>
						</li>
					</ul>
				</div>
				<div class="dropdown componenteform">
					<button class="btn btn-info btn-block dropdown-toggle fa  fa-shield" type="button"
						id="admloc" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false" sec:authorize="hasRole('MASTERROOT') or hasRole('ADMLOC')">
						ADMINISTRADOR<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="admloc">
						<li class="aw-menu__item" sec:authorize="hasRole('MASTERROOT') or hasRole('ADMLOC')">
							<a th:href="@{/administrador/usuarios}" class="item-menu">
								<i class="fa fa-user-circle"></i> <span>Usuários</span>
						</a>
						</li>
						<li role="separator" class="divider"></li>
						<li class="aw-menu__item" sec:authorize="hasRole('MASTERROOT') or hasRole('ADMLOC')">
							<a th:href="@{/administrador/produtos}" class="item-menu"> <i
								class="fa  fa-shopping-basket"></i> <span>Produtos</span>
						</a>
						</li>
						<li role="separator" class="divider"></li>
						<li class="aw-menu__item" sec:authorize="hasRole('MASTERROOT') or hasRole('ADMLOC')">
							<a th:href="@{/administrador/clientes}"> <i
								class="fa  fa-building"></i> <span>Clientes</span>
						</a>
						</li>
						<li role="separator" class="divider"></li>
						<li class="aw-menu__item" sec:authorize="hasRole('MASTERROOT') or hasRole('ADMLOC')">
							<a th:href="@{/requisicoes/administrador}"> <i
								class="fa  fa-list"></i> <span>Requisições</span>
						</a>
						</li>
					</ul>
				</div>
				<div class="dropdown componenteform">
					<button class="btn btn-info btn-block dropdown-toggle fa fa-wrench" type="button"
						id="mninstrutor" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false" sec:authorize="hasRole('MASTERROOT')  or hasRole('CLIENTES')">
						CLIENTES<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="mninstrutor">
						<li class="aw-menu__item disable">
							<a th:href="@{/requisicoes}"> 
								<i class="fa  fa-list"></i>
								<span>Requisições</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="text-center">
			<img class="logo-emp img-responsive img-thumbnail "  alt="ABC Designer" 
				 th:src="@{/layout/imagens/logo_abc_white_transp.png}" style=" width:150px; background: transparent;">
			<hr style="margin: 0">
			<span style="color: white; font-weight: bolder;">Em parceria com:</span>
			<hr style="margin: 0">
			<img class="logo-emp img-responsive img-thumbnail" alt="Logo Cliente" 
			     th:src="${#authentication.principal.usuario.empresa.img}" style="width:150px;background: transparent;">
		</div>
	</nav>
</body>
</html>